---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

  
    {% include index/carousel.html title="Sample Items" height="500" %}
     {% include feature/timelinejs.html %}
    <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}


    {% include index/featured-terms.html field="creator" title="Creators" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
